{% use '_blocks.html.twig' %}

<!DOCTYPE HTML>

<html>

	<head>
		{{ block('head_brand') }}
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/loader.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

		<script>try{Typekit.load({ async: true });}catch(e){}</script>

		
		
	</head>

	<body style="padding-top: {{ navBarOffset }};">
		{{ block('bar_brand') }}

		<!-- <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>  -->
		<img src="img/logo-lt-blanc.svg" alt="" class="logo">
		<h1>TOOLBOX</h1>
		
		
		<section class="table-header">
			<div class="container">
				
			</div>
		</section>

		<section class="category color1">
			<div class="container">
				<div class="category-header">
					<i class="fa fa-keyboard-o color1"></i>
					<h3>ÉD. WEB</h3>
					<h4><span class="color1">4</span> éléments</h4>
					<h5>FAQ, thèmes, chartes éditoriales</h5>
				</div>
				<div class="category-body">
					<ul>
						<li>
							<span class="color1">01</span> Charte d'édition web
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color1">02</span> Foire aux question
							<div class="btn btn-update">7 septembre 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color1">03</span> Liste des thèmes
							<div class="btn btn-update">11 janvier 2016</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color1">04</span> Charte «push»
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>

					</ul>
				</div>
			</div>
			
		</section>

		<section class="category">
			<div class="container">
				<div class="category-header">
					<i class="fa fa-code color2"></i>
					<h3>HTML</h3>
					<h4><span class="color2">13</span> éléments</h4>
					<h5>Templates HTML prêt à l'emploi</h5>
				</div>
				<div class="category-body">
					<ul>
						<li>
							<span class="color2">05</span> Longread
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">06</span> Timeline
							<div class="btn btn-update">7 septembre 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">07</span> Slider
							<div class="btn btn-update">11 janvier 2016</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">08</span> Trombinoscope
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">09</span> Slider avant-après
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">10</span> Slider Népal
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">11</span> Slider Népal plus
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">12</span> Habillage 360°
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">13</span> Quiz personnalité
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">14</span> Carte avec recherche
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">15</span> Base vide
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color2">16</span> Storyline
							<div class="btn btn-update">10 mars 2015</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>

					</ul>
				</div>
			</div>
			
		</section>

		<section class="category">
			<div class="container">
				<div class="category-header">
					<i class="fa fa-pie-chart color3"></i>
					<h3>DATA</h3>
					<h4><span class="color3">2</span> éléments</h4>
					<h5>Registre du commerce et bots immobiliers</h5>
				</div>
				<div class="category-body">
					<ul>
						<li>
							<span class="color3">17</span> Registre du commerce
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color3">18</span> Twitter bot immobilier
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
					</ul>
				</div>
			</div>
			
		</section>

		<section class="category">
			<div class="container">
				<div class="category-header">
					<i class="fa fa-wrench color4"></i>
					<h3>OUTILS</h3>
					<h4><span class="color4">4</span> éléments</h4>
					<h5>Outils pour réseaux sociaux et directs</h5>
				</div>
				<div class="category-body">
					<ul>
						<li>
							<span class="color4">19</span> Audiogramme
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color4">20</span> Social image tool V2
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color4">21</span> Outils open source
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color4">22</span> Chat/live tool
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
					</ul>
				</div>
			</div>
			
		</section>

		<section class="category">
			<div class="container">
				<div class="category-header">
					<i class="fa fa-video-camera color5"></i>
					<h3>VIDÉO</h3>
					<h4><span class="color5">9</span> éléments</h4>
					<h5>Habillages, sous-titres et génériques</h5>
				</div>
				<div class="category-body">
					<ul>
						<li>
							<span class="color5">23</span> Mode d'emploi: Vidéos dans MDF (PDF) <span class="color5">*NEW*</span>
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">24</span> Mode d'emploi: Vidéo embeddée MDB (PDF) <span class="color5">*NEW*</span>
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">25</span> LT - Texte générique de fin
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">26</span> LT - Vidéo fin animée + son
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">27</span> LT - Lower Third gauche+droite (Titre et fonction des gens interviewé)
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">29</span> LT - Sous-titres vidéo
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">30</span> LT - Booktube Infos livre
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">31</span> LT - Texte générique FIN 4 Lignes <span class="color5">*NEW*</span>
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color5">32</span> LT - Pirate (only new FCPX) <span class="color5">*NEW*</span>
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
					</ul>
				</div>
			</div>
			
		</section>

		<section class="category">
			<div class="container">
				<div class="category-header">
					<i class="fa fa-gamepad color6"></i>
					<h3>AUTRES</h3>
					<h4><span class="color6">9</span> éléments</h4>
					<h5>Images et typographies</h5>
				</div>
				<div class="category-body">
					<ul>
						<li>
							<span class="color6">33</span> Tag your images
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">34</span> Charte/logos Le Temps
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">35</span> Typographies Le Temps
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">36</span> Logos des partenaires
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">37</span> Charte/logos L'Hebdo
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">38</span> social.jpg
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">39</span> teaser-homepage.jpg
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">40</span> Gif homepage Live.jpg
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
						<li>
							<span class="color6">41</span> Gif homepage Chat.jpg
							<div class="btn btn-update">12 août 2017</div>
							<div class="btn btn-download btn-hidden"><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
							<div class="btn btn-example btn-hidden"><i class="fa fa-eye" aria-hidden="true"></i></div>
						</li>
					</ul>
				</div>
			</div>
			
		</section>

		

		{{ block('footer_brand') }}
	</body>
	
</html>